.parent {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  width: 100%;
  grid-area: 
  " 
    box-1 box-2 box-2 box-3
    box-4 box-5 box-6 box-7
    box-4 box-5 box-6 box-7
    box-8 box-9 box-10 box-10 
  ";
}

.parent div {
  border: 1px solid black;
  border-radius: 5px 0 5px 0;
  text-align: center;
}

div:first-child {
  min-width: 20%;
}

div:nth-child(2) {
  min-width: 50%;
}

div:nth-child(3) {
  min-width: 20%;
}

div:nth-child(4) {
  min-width: 20%;
  height: 100px;
}

div:nth-child(5) {
  min-width: 20%;
  height: 100px;
}

div:nth-child(6) {
  min-width: 20%;
  height: 100px;
}

div:nth-child(7) {
  min-width: 20%;
  height: 100px;
}

div:nth-child(8) {
  min-width: 50%;
}

div:nth-child(9) {
  min-width: 20%;
}

div:nth-child(10) {
  min-width: 20%;
}

div:nth-child(11) {
  min-width: 20%;
}

div:nth-child(12) {
  min-width: 20%;
}
div:nth-child(13) {
  min-width: 50%;
}
